:root {
  --vp-layout-top-height: 76px;
  --vp-nav-height: 0px;
}

.VPNav {
  display: none;
}

.zy-site-header {
  position: fixed;
  inset: 0 0 auto;
}

.zy-site-github span {
  font-weight: 700;
}

@media (max-width: 640px) {
  :root {
    --vp-layout-top-height: 66px;
  }
}
